/*public/css/site/index.css*/
body {
    background-image: url(public/img/lue-Sky.jpg);
    -moz-background-size: cover;
    background-size: cover;
    height: 120%;
}        
h1 {
    color: #006600;
    font-size: 520%;
    font-family: 'Fontdiner Swanky', cursive;
} 
.btn {
    margin: 10px;
}
.login {
    color: #990099;
    font-family: 'Orbitron', sans-serif;
    font-size: 160%;
}
.user {
    font-size: 75%;
}
        
input {
    color: #333;
}
        
input:-moz-placeholder {
    padding-left: 5px;
    color: #999;
} 
input::-webkit-input-placeholder {
    padding-left: 5px;
    color: #999;
}