/*login and register sites*/

body {
  background-image: url('../img/Blue-Sky.jpg');
  -moz-background-size: cover;
  background-size: cover;
  height: 120%;
}
h1 {
  color: #006600;
  font-size: 520%;
  font-family: 'Fontdiner Swanky', cursive;
}
.logo {
  height: 300px;
  width: 400px;
  margin-bottom: 20px;
}
.btn {
  margin: 10px;
}
.login {
  color: #990099;
  font-family: 'Orbitron', sans-serif;
  font-size: 160%;
}
.user {
  font-size: 75%;
  width: 60%;
}
input {
  color: #333;
}
input:-moz-placeholder {
  padding-left: 5px;
  color: #999;
  font-size: 110%;
}
input::-webkit-input-placeholder {
  padding-left: 5px;
  color: #999;
  font-size: 110%;
}
